body{
	background-image: url("../images/background.jpg");
}

p{
	padding: 10px;
}

.crystal-image {
      width: 200px;
      height: 200px;
      padding: 15px;
}

.scoresContainer{
	padding-left: 25px;
}

.crystalContainer{
	padding-left: 25px;
}

.tallyContainer{
	padding-left: 25px;
}

.title{
	color: purple;
	padding-left: 10px;
	font-family: "Apple Chancery";
}

.instructions{
	font-family: "Apple Chancery";
	font-weight: bolder;
	color: purple;
	padding-left: 25px;
}

#wins{
	color: purple;
	padding:10px;
	font-family: "Apple Chancery";
}

#losses{
	color: purple;
	padding: 10px;
	font-family: "Apple Chancery";
}
#number-to-guess{
	color: purple;
	font-family: "Apple Chancery";
	font-weight: bolder;
	padding-left: 10px;
	font-size: 33px;
}

#title{
	color: purple;
	font-family: "Apple Chancery";
	font-weight: bolder;
	margin: 0 0 10px 10px;
	padding: 10px;
	position: center;
	font-size: 25px;
	
}

#currentScore{
	color: purple;
	padding-left: 15px;
	font-family: "Apple Chancery";
	font-weight: bolder;
	font-size: 23px;
}
















