body{
	background-image: url("../images/background.jpg");

}

.mainContainer {
	position: relative;
	bottom:0;
	right: 0;
  
}

.crystal-image {
      width: 200px;
      height: 200px;
      padding: 15px;
    }

#title{
	color: purple;
	font-family: "Apple Chancery";
	font-weight: bolder;
	margin: 5px;
	padding: 10px;
	position: center;
	font-size: 25px;
	
}

.scoresContainer{
	padding-left: 25px;
}

.crystalContainer{
	padding-left: 25px;
}

.tallyContainer{
	padding-left: 25px;
}

.instructions{
	font-family: "Apple Chancery";
	font-weight: bolder;
	color: purple;
	padding-left: 25px;
}

p{
	padding: 10px;

}

#wins{
	color: purple;
	padding:10px;
	font-family: "Apple Chancery";
}

#losses{
	color: purple;
	padding: 10px;
	font-family: "Apple Chancery";
}
#number-to-guess{
	color: purple;
	font-family: "Apple Chancery";
	font-weight: bolder;
	padding-left: 10px;
	font-size: 33px;
}

#currentScore{
	color: purple;
	padding-left: 15px;
	font-family: "Apple Chancery";
}


.title{
	color: purple;
	padding-left: 10px;
}













